{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">

	<!-- Coluna esquerda -->
	<aside class="col-md-3">

		<!-- Nav -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> Historico de pedidos</a>
			<a class="list-group-item" href="#"> Transações </a>
			<a class="list-group-item" href="#"> Devoluções e reembolsos </a>
			<a class="list-group-item" href="#"> Configurações </a>
			<a class="list-group-item" href="#"> Pedidos recebidos </a>
		</ul>

		<br>

		<!-- Log out -->
		<a 
            class="btn btn-light btn-block" 
            href="{% url 'logout' %}"> 
            <i class="fa fa-power-off"></i> 
            <span class="text">Sair</span> 
        </a> 

	</aside>

	<main class="col-md-9">
		<article class="card">

		<!-- ID Pedido -->
		<header class="card-header">
			<strong class="d-inline-block mr-3">ID Do Pedido: 123456789</strong>
			<span>Data do pedido: 01 Novembro 2025</span>
		</header>


		<div class="card-body">
			<div class="row"> 

				<!-- Info Cliente -->
				<div class="col-md-8">
					<h6 class="text-muted"> Cliente </h6>
					<p>Kaynan Raikkonen
						<br>  
							Email: kaynan.santos@aluno.senai.br 
						<br>
			    			Endereço: Rua Teste, Numero 123, Cidade Teste   
			 		</p>
				</div>

				<!-- Info Pagamento -->
				<div class="col-md-4">
					<h6 class="text-muted">Pagamento</h6>
					<span class="text-success">
						<i class="fab fa-lg fa-cc-visa"></i>
					    Visa  **** 4216  
					</span>
					<p>Subtotal: R$9935,86 <br>
					 Frete:      R$56 <br> 
					 <span class="b">Total:  R$9991.86 </span>
					</p>
				</div>
			</div> 
		</div> 
		<div class="table-responsive">
		<table class="table table-hover">

			<!-- Produto 1 -->
			<tr>
				<td width="65">
					<img src="{% static './images/produtos/anel-1.webp' %}" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0">Anel Noivado Unione Ouro 18K </p>
					<var class="price text-muted">R$ 4967,93</var>
				</td>
				<td> Anel</td>
				<td width="250"> 
					<a href="#" class="btn btn-outline-primary">Rastrear </a> 
					<a href="#" class="btn btn-light"> Detalhes </a> </td>
			</tr>

			<!-- Produto 2 -->
			<tr>
				<td width="65">
					<img src="{% static './images/produtos/anel-1.webp' %}" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0">Anel Noivado Unione Ouro 18K </p>
					<var class="price text-muted">R$ 4967,93</var>
				</td>
				<td> Anel</td>
				<td width="250"> 
					<a href="#" class="btn btn-outline-primary">Rastrear </a> 
					<a href="#" class="btn btn-light"> Detalhes </a> </td>
			</tr>
			
		</table>
		</div> 
		</article> 
	</main>
</div> 
</div>
</section>

{% endblock %}