{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/login.css' %}" rel="stylesheet">

<section>

    <div class="login-box">

        <!-- Titulo -->
        <div class="login-header">
            <header>Redefinir Senha</header>
        </div>

        {% include 'includes/alerts.html' %}

        <form action="{% url 'forgotPassword' %}" method="POST">
        
        {% csrf_token %}

            <!-- Email -->
            <div class="input-box">
                <input type="email" class="input-field" placeholder="Email" name="email">
            </div>

            <!-- Botão entrar -->
            <div class="input-submit">
                <button type="submit" class="submit-btn" id="submit"></button>
                <label for="submit">Recuperar</label>
            </div>

        </form>

    </div>

</section>

{% endblock %}