{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/login.css' %}" rel="stylesheet">

<section>

    <div class="login-box">

        <!-- Titulo -->
        <div class="login-header">
            <header>Login</header>
        </div>

        {% include 'includes/alerts.html' %}

        <form action="{% url 'login' %}" method="POST">
        
        {% csrf_token %}

            <!-- Email -->
            <div class="input-box">
                <input type="email" class="input-field" placeholder="Email" name="email">
            </div>

            <!-- Senha -->
            <div class="input-box">
                <input type="password" class="input-field" placeholder="Senha" name="password">
            </div>

            <!-- Recuperar senha -->
            <div class="forgot">
                <section class="forgot">
                    <a href="#">Recuperar senha</a>
                </section>
            </div>

            <!-- Botão entrar -->
            <div class="input-submit">
                <button type="submit" class="submit-btn" id="submit"></button>
                <label for="submit">Entrar</label>
            </div>

        </form>

        <div class="sing-up-link">
            <p>Não tem uma conta? <a href="{% url 'register' %}"> Criar</a></p>
        </div>

    </div>

</section>

{% endblock %}