@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin-top: 10px;
}

:root{
    --background-color: #EFEDE7;
    --main-color: #cab273;
    --main-light-color: #fffbf0;
    --secondary-color: #551756;
    --branco: #fff;
    --branco_sec: #f5f5f5;
    --cinza: #474747;
    --cinza_sec: #3b3b3b;
    --cinza_ter: #333333;
    --cinza_qua: #535353;
    --cinza_qui: #5a5a5a;
    --ciza_sex: #616161;
    --preto: #000;
    --preto_sec: #1d1d1d;
    --preto_ter: #272727;
    --nav-height: 44px;
}

body{
    background-color: var(--branco);
}

/* Header */

header{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
}

.header-top-bar{
    border-bottom: 1px solid var(--branco_sec);
    background-color: var(--main-color);
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-bar span{
    color: var(--cinza);
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    font-weight: 400;
}

/* Nav-bar */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    max-width: 1200px;
    min-height: var(--nav-height);
    width: 90%;
    margin: auto;
}

.header_hr{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.logo{
    height: 60px;
}

.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    display: flex;
    align-items: center;
}

.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: var(--cinza_sec);
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    transition: all ease 0.3s;
    text-decoration: none;
    height: var(--nav-height);
    padding: 9px 20px;
    margin: 0 12px;
}

.menu li a:hover{
    color: var(--main-color);
}

.right-nav{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.search .search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 40px;
  max-width: 200px;    
  background: #fff;      
  border: 1px solid var(--preto); 
  border-radius: 30px;
  overflow: hidden;       
  box-sizing: border-box;
  transition: .1s;
}

.search .search-box:hover{
    border: 2px solid var(--main-color);
}

.search .search-input {
  flex: 1 1 auto;
  min-width: 0;           
  height: 20px;
  padding: 0 .9rem;
  border: none;          
  outline: none;
  font-size: 0.8rem;
  background: transparent;
  color: inherit;
  box-sizing: border-box;
}

.search .search-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 10px 0 0;
  border: none;
  color: var(--preto_ter);
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  transition: background .12s ease, transform .08s ease;
}

.search .search-btn .fa-solid {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
}

/* containers */
.nav-cart,
.nav-user,
.nav-search {
  position: relative;
  display: inline-block;
  vertical-align: middle; 
}

/* icon do carrinho */
.nav-cart .bag,
.nav-user .user {
  width: 23px;
  height: auto;
  display: inline-block;
}

.right-nav a i{
    color: var(--cinza_sec);
    text-decoration: none;
}

.right-nav a span{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--branco);
    background-color: var(--main-color);
    font-weight: 500;
    font-size: 0.6rem;
    text-decoration: none;
}

/* main banner */
#main-banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-banner-box{
    width: 100%;
    height: 100%;
    position: relative;
}

.main-banner-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 0px;
}

.main-banner-text{
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translate(-10%, -50%);
}

.main-banner-text h1{
    font-size: 3.5rem;
    max-width: 500px;
    line-height: 3.3rem;
    font-weight: 400;
    color: var(--cinza_ter);
}

.main-banner-text p{
    color: var(--cinza_ter);
    font-size: 1.5rem;
    max-width: 400px;
    margin: 10px 0px;
    letter-spacing: 0.1px;
}

.main-banner-text a{
    color: var(--branco);
    background-color: var(--main-color);
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 30px;
    text-decoration: none;
}

/* Oque fornecemos */
.what-we-provide{
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.w-info-box{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
}

.w-info-icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 1.4rem;
    background-color: var(--main-light-color);
}

.w-info-icon i{
    color: var(--main-color);
}

.w-info-text strong{
    color: var(--cinza_sec);
    font-weight: 500;
    font-size: 0.9rem;
}

.w-info-text p{
    color: var(--cinza_qua);
    font-size: 0.8rem;
    letter-spacing: 0.3px;
}

/* gird-product */
.product-grid-half{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    max-height: 300px;
}

.product-grid-box{
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-light-color);
    position: relative;
}

.product-grid-text{
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-90%, -50%);
    display: flex;
    max-width: 130px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.product-grid-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
}

.product-grid-text strong{
    color: var(--preto_sec);
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.product-grid-text span{
    color: var(--cinza_qui);
    font-size: 0.8rem;
    font-weight: 400;
}

.product-grid-text a{
    color: var(--preto_ter);
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    border-bottom: 1px solid var(--ciza_sex);
}

.product-grid-half .product-grid-box2{
    grid-row: 1/3;  
}

/* products */

#products {
    max-width: 1200px;
    width: 90%;
    margin: 90px auto;
}

.products-heading{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.products-heading h2{
    font-size: 1.8rem;
    color: var(--preto_ter);
    font-weight: 500;
}

.products-heading p{
    color: var(--cinza_qui);
    font-size: 0.9rem;
    font-weight: 400;
}

.products-box{
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--branco);
}

.products-img{
    width: 100%;
    height: 250px;
    display: flex;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.products-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.products-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 20px;   
}

.products-text .product-title{
    font-family: "Libre Baskerville", Georgia, "Times New Roman", serif;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 1.20em;
    max-height: calc(1.20em * 2);
    min-height: calc(1.20em * 2);   
    margin-bottom: 6px;
    color: var(--cinza_ter);
    font-weight: 500;
    font-size: 18px;
    display: block;
}

.products-text span{
    color: var(--preto);
    font-weight: 400;
    font-size: 18px;
}

.btn.btn-primary{
  display:inline-block;
  width:100%;
  padding:10px 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid var(--preto);
  text-align: center;
  background: var(--branco);
  color: var(--preto);
  font-weight:500;
  cursor:pointer;
  transition: .3s;
}

.btn.btn-primary:hover{ 
  transform: scale(1.05,1);
}

.installment{
    color: var(--ciza_sex);
    font-weight: 400;
    font-size: 15px;
}

/* paginator */

.swiper-pagination{
    position: static !important;
    margin-top: 10px !important;
}

.swiper-pagination-bullet-active{
    background-color: var(--main-color) !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  background: transparent; 
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.06);
  top: 50%;
  transform: translateY(-50%);
  touch-action: manipulation;
  z-index: 10;
  left: 8px;  
  right: 8px; 
}

.swiper-button-prev { 
    left: 8px; 
    right: auto; 
}

.swiper-button-next { 
    right: 8px; 
    left: auto; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  line-height: 1;
  vertical-align: middle;
  color: var(--cinza_ter);
  opacity: 1;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 14px;
  height: 14px;
  fill: #fff;
  display: block;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  filter: brightness(0.92);
  cursor: pointer;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: 3px solid rgba(255,255,255,0.12);
  outline-offset: 2px;
}

/* category */
#category{
    width: calc(100% - 40px);
    max-width: 1550px;
    margin: 0px auto;
    margin-bottom: 80px;
}

.category-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.category-box{
    width: 100%;
    height: 400px;
    position: relative;
    transition: 0.3s;
}

.category-box:hover{
    opacity: 0.8;
}

.category-box img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    object-fit: cover;
    object-position: center;
} 

.category-box strong{
    position: absolute;
    left: 40px;
    bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--cinza_ter);
    text-transform: uppercase;
    letter-spacing: 1px;

}