{% load static %}

<header id="header">
  
  <!-- navigation -->
  <nav class="navigation">

    <!-- Logo-->
    <a href="{% url 'home' %}" class="logo">
      <img src="{% static './images/logo.png' %}" alt="Logo">
    </a>

    <div class="nav-row"></div>
    <!-- Menu -->
    <ul class="menu">

      <!-- HOME -->
      <li>
        <a href="{% url 'home' %}">HOME</a>
      </li>

      <!-- SALE -->
      <li>
        <a href="{% url 'store' %}">SALE</a>
      </li>

      <!-- BRINCOS -->
      <li>
        {% for category in links %}
          {% if category.slug == "brincos" %}
            <a href="{% url 'products_by_category' category.slug %}">BRINCOS</a>
          {% endif %}
        {% endfor %}
      </li>

      <!-- PULSEIRAS -->
      <li>
       {% for category in links %}
          {% if category.slug == "pulseiras" %}
          <a href="{% url 'products_by_category' category.slug %}">PULSEIRAS</a>
          {% endif %}
        {% endfor %}
      </li>

      <!-- COLARES -->
      <li>
        {% for category in links %}
          {% if category.slug == "colares" %}
          <a href="{% url 'products_by_category' category.slug %}">COLARES</a>
          {% endif %}
        {% endfor %}
      </li>

      <!-- ANÉIS -->
      <li>
        {% for category in links %}
          {% if category.slug == "aneis" %}
          <a href="{% url 'products_by_category' category.slug %}">ANÉIS</a>
          {% endif %}
        {% endfor %}
      </li>

    </ul>

    <!-- Parte direita do menu-->
    <div class="right-nav">

      <form action="{% url 'search' %}" class="search" method="GET" role="search" aria-label="Formulário de busca">
        <div class="search-box">
          <input type="text" class="search-input" placeholder="Buscar produto" name="keyword" required aria-label="Pesquisar">
          <button class="search-btn" type="submit" aria-label="Pesquisar">
            <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
          </button>
        </div>
      </form>


      <!-- User -->
      
      <!-- Se nao estiver logado -->
      {% if user.id is None %}
      <a href="{% url 'login' %}" class="nav-user">
        <img class="user" src="{% static 'images/icons/icon-user.png' %}?v={{ ts }}" alt="cart">
      </a>

      <!-- Se estiver logado-->
      {% else %}
      <a href="{% url 'dashboard' %}" class="nav-user">
        <img class="user" src="{% static 'images/icons/icon-user.png' %}?v={{ ts }}" alt="cart">
      </a>
      {% endif %}

      <!-- Carrinho -->
      <a href="{% url 'cart' %}" class="nav-cart">
        <img class="bag" src="{% static 'images/icons/icon-sacola.png' %}?v={{ ts }}" alt="cart">
        <!-- Contador -->
        <span>{{ cart_count }}</span>
      </a>

    </div>

  </nav>
</header>