{% load static %}

{% block content %}
<link 
    rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" 
/>

<link href="{% static 'css/checkou.css' %}" rel="stylesheet">

<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">

            <!-- Lado esquerdo -->
            <aside class="col-lg-6">

                <!-- Logo-->
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static './images/logo.png' %}" alt="Logo">
                </a>


                <nav class="checkout-steps" aria-label="Progresso do pedido" style="--progress:33%;">
                    <div class="track"></div>
                    <div class="fill"></div>

                    <ol class="steps">
                        <li class="step is-active">
                        <span class="step-number">1. SEUS DADOS</span>
                        </li>

                        <li class="step">
                        <span class="step-number">2. SUA ENTREGA</span>
                        </li>

                        <li class="step">
                        <span class="step-number">3. SEU PAGAMENTO</span>
                        </li>
                    </ol>
                </nav>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Dados Pessoais</h4>
                        <form action="" method="POST">
                        {% csrf_token %}

                        <!-- Linha 1 -->
                        <div class="form-row">

                            <!-- Email-->
                            <div class="col form-group">
                                <input id="email" type="email" name="email" class="form-control" placeholder=" " required>
                                <label for="email" class="floating-label">Email</label>
                            </div>

                        </div>

                        <!-- Linha 2-->
                        <div class="form-row">
                            
                            <!-- Nome -->
                            <div class="col form-group">
                                <input id="first_name" type="text" name="first_name" class="form-control" placeholder=" " required>
                                <label for="first_name" class="floating-label">Nome</label>
                            </div>

                            <!-- Sobrenome -->
                            <div class="col form-group">
                                <input id="last_name" type="text" name="last_name" class="form-control" placeholder=" " required>
                                <label for="last_name" class="floating-label">Sobrenome</label>
                            </div>

                        </div>

                        <!-- Linha 3 -->
                        <div class="form-row">

                            <!-- Celular -->
                            <div class="col form-group">
                                <input id="phone" type="text" name="phone" class="form-control" placeholder=" " required>
                                <label for="phone" class="floating-label">Celular</label>
                            </div>

                            <!-- CPF -->
                            <div class="col form-group">
                                <input id="cpf" type="text" name="cpf" class="form-control" placeholder=" " required>
                                <label for="cpf" class="floating-label">CPF</label>
                            </div>

                        </div>

                        <h4 class="card-title mb-4">Local de entrega </h4>

                        <!-- Linha 1 -->
                        <div class="form-row">

                            <!-- CEP -->
                            <div class="col form-group">
                                <input id="cep" type="text" name="cep" placeholder=" " class="form-control" required>
                                <label for="cep" class="floating-label">CEP</label>
                            </div>

                            <!-- endereco -->
                            <div class="col form-group">
                                <input id="address" type="text" name="address" placeholder=" " class="form-control">
                                <label for="address" class="floating-label">Endereço</label>
                            </div>

                        </div>

                        <!-- Linha 2 -->
                        <div class="form-row">

                            <!-- Número -->
                            <div class="col form-group">
                                <input id="numero" type="text" name="numero"  placeholder=" " class="form-control" required>
                                <label for="numero" class="floating-label">Número</label>
                            </div>

                            <!-- Complemento -->
                            <div class="col form-group">
                                <input id="complemento" type="text" name="complemento" placeholder=" " class="form-control" required>
                                <label for="complemento" class="floating-label">Complemento</label>
                            </div>

                            <!-- Bairro -->
                            <div class="col form-group">
                                <input id="bairro" type="text" name="bairro" placeholder=" " class="form-control" required>
                                <label for="bairro" class="floating-label">Bairro</label>
                            </div>

                        </div>

                        <!-- Linha 3 -->
                        <div class="form-row">

                            <!-- Cidade -->
                            <div class="col form-group">
                                <input id="cidade" type="text" name="cidade" placeholder=" " class="form-control" required>
                                <label for="cidade" class="floating-label">Cidade</label>
                            </div>

                            <!-- Estado -->
                            <div class="col form-group">
                                <input id="estado" type="text" name="estado" placeholder=" " class="form-control" required>
                                <label for="estado" class="floating-label">Estado</label>
                            </div>

                        </div>

                    </div>
                </div> 

            </aside> 

            <!-- Lado direito -->
            <aside class="col-lg-6">

                <div class="card-right">
                    <div class="card-body-right">
                        <table class="table table-borderless table-shopping-cart">
                            <tbody>

                                <!-- Botão retornar -->
                                <a 
                                    href="{% url 'cart' %}" 
                                    class="retornar">
                                    <i class="fa-solid fa-arrow-left"></i> 
                                    Voltar ao Carrinho
                                </a>

                                <!-- Contador de itens -->
                                <h4 class="contador">
                                    Itens ({{ cart_count }})
                                </h4>

                                <!-- Loop de itens -->
                                {% for cart_item in cart_items %}

                                    <tr>

                                        <td>


                                            <figure class="itemside align-items-center">

                                                

                                                <div class="aside">
                                                    <img src="{{ cart_item.product.images.url }}" class="img-sm">
                                                </div>

                                                <figcaption class="info">

                                                    <a 
                                                        href="{{ cart_item.product.get_url }}" 
                                                        class="title text-dark">{{ cart_item.product.product_name }}
                                                    </a>

                                                    <p class="text-muted small">
                                                        {% if cart_item.variations.all %}
                                                            {% for item in cart_item.variations.all %}
                                                            {% if item.variation_category|lower == 'size' %}
                                                                Tamanho : <strong>{{ item.variation_value|capfirst }}</strong>
                                                            {% else %}
                                                                {{ item.variation_category|capfirst }} : {{ item.variation_value|capfirst }}
                                                            {% endif %}
                                                            <br>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </p>

                                                    <p 
                                                        class="text-muted small">Quantidade: <strong>{{ cart_item.quantily }}</strong> 
                                                    </p>

                                                </figcaption>

                                            </figure>

                                        </td>

                                        <td class="preco">

                                            <div class="price-wrap">
                                                <var class="price">R$ {{ cart_item.sub_total }}</var>
                                                <small class="text-muted">R$ {{ cart_item.product.price }}</small>
                                            </div> 

                                        </td>

                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>

                        <hr>

                        <div class="container-total">
                            <dl class="dlist-align">
                                <dt>PRODUTOS:</dt>
                                <dd class="text-right">R$ {{ total|floatformat:2 }} </dd>
                            </dl>

                            <dl class="dlist-align small-muted">
                                <dt>FRETE</dt>
                                <dd class="text-right">
                                {% if shipping_price %}
                                    R$ {{ shipping_price|floatformat:2}}
                                {% else %}
                                    - R$ ??
                                {% endif %}
                                </dd>
                            </dl>

                        <hr>
                            <dl class="dlist-align total-row">
                                <dt>TOTAL:</dt>
                                <dd class="text-right"><strong>R$ {{ grand_total|floatformat:2 }} </strong></dd>
                            </dl>


                        </div>

                        <!-- Botão continuar -->
                        <div class="container-botao">
                            <button type="submit" name="submit" class="btn-primary">CONTINUAR</button>   
                        </div>

                            
                        </form>
                    </div> 
                </div> 

            </aside> 

        </div> 
    </div> 
</section>

{% endblock %}